In [ ]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [1]:
print("Hello Developers")

Hello Developers

In [3]:
#numpy  ...numeric python

list=[1,2,3,4,5,6,7,8,9]

In [5]:
%timeit [i ** 2 for i in list]

3.34 µs ± 679 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
!pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [7]:
import numpy as np

arr = np.array(list)

arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [8]:
%timeit arr ** 2

575 ns ± 13 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [11]:
arr1 = np.random.randint(10,100,size = (5,6))

#print the arr1

arr1

array([[39, 68, 58, 44, 15, 68],
       [16, 80, 36, 17, 26, 81],
       [56, 82, 65, 68, 19, 92],
       [76, 94, 77, 95, 37, 43],
       [13, 61, 88, 91, 81, 36]])

In [13]:
!pip install pandas   # used to handle and predict the data

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [17]:
import pandas as pd

df = pd.DataFrame(data = arr1)
#print this data
df

    0   1   2   3   4   5
0  39  68  58  44  15  68
1  16  80  36  17  26  81
2  56  82  65  68  19  92
3  76  94  77  95  37  43
4  13  61  88  91  81  36