In [2]:
print("Welcome to the bootcamp")

Welcome to the bootcamp

In [3]:
print("hello bootcamp")

hello bootcamp

In [4]:
lst=[1,2,3,4,5,6,7,8,9]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [5]:
%timeit [i ** 2 for i in lst]

2.28 µs ± 16.6 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

In [6]:
!pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.22.4)

In [7]:
import numpy as np

In [8]:
arr=np.array(lst)
arr

array([1, 2, 3, 4, 5, 6, 7, 8, 9])

In [9]:
%timeit arr ** 3

1.26 µs ± 260 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [10]:
arr1=np.random.randint(10,100, size=(5,6))

In [11]:
arr1

array([[50, 94, 84, 54, 38, 47],
       [76, 40, 24, 53, 37, 61],
       [10, 27, 59, 56, 88, 67],
       [91, 65, 83, 59, 11, 65],
       [60, 43, 88, 81, 21, 51]])

In [12]:
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [16]:
import pandas as pd

df = pd.DataFrame(data = arr1)

In [18]:
df

    0   1   2   3   4   5
0  50  94  84  54  38  47
1  76  40  24  53  37  61
2  10  27  59  56  88  67
3  91  65  83  59  11  65
4  60  43  88  81  21  51